/* Navbar Container */
.navbar {
  margin: 0;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
  background-color: burlywood;
  display: block;
  flex-direction: column;
}


.heading {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.heading img {
  width: auto; 
  height: 50px;
}

.heading h2 {
  font-size: 24px;
  font-weight: 800;
  color:brown; 
  margin-left: 10px; 
  font-style: italic;
}

.options {
  display: flex;
  gap: 50px;
  justify-content: center; 
  margin-top: 10px;
  font-size: 26px;
  font-weight: 800;
  list-style: none;
  /* justify-content: space-between; */
}
.auth{
  display: flex;
  /* justify-content: space-around; */
  position: absolute;
  top:80px;
  right:50px;
  gap:20px;
}
.auth button{
  border:3px solid black;
  border-radius: 10px;
  padding:5px;
  /* background-color: aqua; */
  font-size: 20px;
  font-weight: 700;
}
.register{
  background-color: rgb(67, 82, 108);
}
.register:hover{
  background-color: aqua;
  color: orangered;
  transition: all 0.2s ease-in-out;
}
.login:hover{
  background-color: aquamarine;
  color: red;
  transition:all 0.2s ease-in-out;
}
.shortmenu{
  display: none;
}
.active:hover{
  background-color: aqua;
  transition: all 0.2s ease-in-out;
}
.shortmenu-options{
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  gap:5px;
}
.shortmenu-options button{
  border:3px solid black;
  border-radius: 10px;
  padding:5px;
  /* background-color: aqua; */
  font-size: 16px;
  font-weight: 700;

}
.shortmenu-options button:hover{
  background-color: aqua;
  color: orangered;
  transition: all 0.2s ease-in-out;
}
@media (max-width:1000px) {
  .auth{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:50px;
  }
}
@media (max-width:800px){
  .fields{
    display: none;
  }
  .shortmenu{
    display:flex;
    background-color: burlywood;
    flex-direction: column;
  }
}
